.card1{
    padding-top: 90px;
    padding-left: 50px;
    padding-right: 50px;


}
.heading1{
    margin-top: -60px;
    padding-left: 400px;
    margin-bottom: 95px;
    color: rgba(0, 0, 0, 0.9);
}