.card0{
    margin-top: 10px;
    margin-left: 10px;
}
.card2{
    margin-top: 10px;
    margin-left: 20px;
}
.card3{
    margin-top: 10px;
    margin-left: 20px;
}
.card4{
    margin-top: 10px;
    margin-left: 20px;
}
.card5{
    margin-top: 10px;
    margin-left: 10px;
}
.card6{
    margin-top: 10px;
    margin-left: 20px;
}
.card7{
    margin-top: 10px;
    margin-left: 10px;
}
.card8{
    margin-top: 10px;
    margin-left: 20px;
}
.card9{
    margin-top: 10px;
    margin-left: 10px;
}
.cardbody1{
    background-color: rgba(137, 43, 226, 0.592);
}
.cardbody2{
    background-color: rgba(44, 204, 44, 0.703)
}
.cardbody3{
    background-color:rgba(60, 178, 224, 0.871)
}
.cardbody4{
    background-color:orange
}
.title1{
    color:white
}